.carousel {
    background: #000;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 100vw;
    padding: 15px 0;
}

.carousel-cell {
    text-align: center;
}

img.testimonial-avatar {
    width: 200px;
    border-radius: 50%;
}

.testimonial-quote {
    padding: 10px 0;
    line-height: 1.4;
    color: #fff;
    font-family: 'Playfair Display';
    max-width: 50%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    font-style: italic
}

.testimonial-author {
    font-weight: 700;
    color: #ffbd2f;
    font-family: 'Montserrat'
}

.entry-content ol.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
    background: #ffbd2f;
    opacity: 1;
}

.flickity-prev-next-button.previous {
    left: 20px;
}

.flickity-prev-next-button.next {
    right: 20px;
}

.flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, .75);
    border: none;
}

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    width: 60%;
    transform: translate(-50%, -50%);
}

.flickity-button:hover {
    background: #fff;
    cursor: pointer;
}
